@model Onestop.Seo.Models.SeoPart

<fieldset>
    <legend>@T("SEO overrides")</legend>
    <ol>
        <li>
            @Html.LabelFor(m => m.TitleOverride, T("Title override"))
            @Html.TextBoxFor(m => m.TitleOverride, new { @class = "text large" })
        </li>
        <li>
            @Html.LabelFor(m => m.DescriptionOverride, T("Description override"))
            @Html.TextBoxFor(m => m.DescriptionOverride, new { @class = "text large" })
        </li>
        <li>
            @Html.LabelFor(m => m.KeywordsOverride, T("Keywords override"))
            @Html.TextBoxFor(m => m.KeywordsOverride, new { @class = "text large" })
        </li>
    </ol>
</fieldset>